.content{
  margin-bottom: -8px;
  background: white;
  padding-bottom: 10px;
}

.available-dogs{
  margin-left: 100px;
}
.card{
  width: 152px;
  margin: 10px;

}
.content-body{
  padding-top: 10px;
  padding-left: 3px;
}
.cardText{
  font-size: 9pt;
}
.card-header{
  color: white;
  background-color: #3d8cdb;
  font-weight: bold;
}

.card-img-top{
  height:150px;
  width:150px;
}
.header {
  color: white;
  background: #ff8800;
  padding: 10px;

}

.outside{
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 45px;
  padding-bottom: 45px;
  background: #6ba1b8;
}
