#header{
  border-top: solid 15px Orange;
  background: yellow;
  border-bottom: solid 15px Orange;
}
#body{
  background-image: url('https://images.unsplash.com/photo-1444212477490-ca407925329e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1700&q=80');
  background-position: center;
  padding-top: 0px;
  margin-top: 0px;
}


#footer{
  border-top: solid 15px Orange;
  background: yellow;
  border-bottom: solid 15px Orange;
}

p{
  
}
