<div id="header">
  <h1 class="title">
    Daniel's Humane <br> Society
  </h1>
  <div class="nav">
    <button class="nav-button">adopt</button> <button class="nav-button">get involved</button> <button class="nav-button">report cruelty</button> <button class="nav-button">training</button> <button class="nav-button">services</button> <button class="nav-button">vist us</button> <button class="nav-button donate-button">donate</button>
  </div>
</div>

<router-outlet></router-outlet>


<div id="footer">
  <p>this is where the footer will go</p>
</div>
