<div id="header">
  <h1 class="title">
    <a routerLink="">Daniel's Humane <br> Society</a>
  </h1>
  <div class="nav">
    <button class="nav-button"><a routerLink="adopt">Adopt</a></button> <button class="nav-button"><a routerLink="get-involved">Get Involved</a></button> <button class="nav-button">report cruelty</button> <button class="nav-button">training</button> <button class="nav-button">services</button> <button class="nav-button">vist us</button> <button class="nav-button donate-button">donate</button>
  </div>
</div>

<router-outlet></router-outlet>


<div id="footer">
  <p>this is where the footer will go</p>
</div>
