<div id="header">
  <h1 class="title">
    <a routerLink="">Daniel's Humane <br> Society</a>
  </h1>
  <div class="nav">
    <button class="nav-button"><a routerLink="adopt">Adopt</a></button>
     <button class="nav-button"><a routerLink="get-involved">Get Involved</a></button>
     <button class="nav-button"><a routerLink="report-cruelty">Report Cruelty</a></button>
     <button class="nav-button"><a routerLink="training">Training</a></button>
     <button class="nav-button"><a routerLink="services">Services</a></button>
     <button class="nav-button"><a routerLink="visit-us">Visit Us</a></button>
     <button class="nav-button donate-button"><a routerLink="donate">Donate</a></button>
  </div>
</div>


  <router-outlet></router-outlet>




<div id="footer">
  <div class="container">

  <div class="row">
    <div class="col-sm-3">
      <h6>Oregon Humane Society<br>
      1067 NE Columbia Blvd.<br>
      (503) 285-7722</h6><br>
      <h6>Hours & Directions</h6>
    </div>
    <div class="col-sm-3">
      <h5>About Us</h5>
      <p class="footer-p">Our Story</p><br>
      <p class="footer-p">Our Team</p><br>
      <p class="footer-p">Give with Confidence</p><br>
      <p class="footer-p">Life-saving Statistics</p><br>
      <p class="footer-p">Careers</p><br>
      <p class="footer-p">Contact OHS</p>
    </div>
    <div class="col-sm-3">
      <h5>News & Happenings</h5>
      <p class="footer-p">News & Blog</p><br>
      <p class="footer-p">Adoption Updates - #ohspets</p><br>
      <p class="footer-p">Attend Events</p><br>
    </div>
    <div class="col-sm-3">
      <h5>Resources & Publications</h5>
      <p class="footer-p">Resource Library</p><br>
      <p class="footer-p">OHS Publications</p><br>
      <p class="footer-p">Email Newsletter</p><br>
      <p class="footer-p">Holman Medical Center</p><br>
      <p class="footer-p">For Other Shelters</p><br>
      <p class="footer-p">End petlessness & more</p><br>
      <p class="footer-p">Lost & Found Pets</p><br>
      <p class="footer-p">Spay & Neuter Assistance</p>
    </div>
  </div>
  </div>
</div>
