#header{
  border-top: solid 15px Orange;
  background: yellow;
  border-bottom: solid 15px Orange;
  margin-top: -8px;
}
#body{
  background: linear-gradient(rgba(255,255,255,1), rgba(255,0,0,0)), url('https://images.unsplash.com/photo-1444212477490-ca407925329e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1700&q=80');
  background-position: fixed;
  padding-top: 0px;
  margin-top: 0px;
}


#footer{
  border-top: solid 15px Orange;
  background: yellow;
  border-bottom: solid 15px Orange;
}
#big-text{
  color: orange;
  font-size: 55pt;
  font-style: italic;
  text-align: center;
}
#bigger-text{
  font-weight: bold;
  font-size: 70pt;
}
p{
  margin-top: 0px;
  margin-bottom: 0px;
}
