
#body{
  background: linear-gradient(rgba(255,255,255,1), rgba(255,0,0,0)), url('https://images.unsplash.com/photo-1507146426996-ef05306b995a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80');
  background-position: fixed;
  padding-top: 0px;
  margin-top: 0px;
}

#big-text{
  color: orange;
  font-size: 55pt;
  font-style: italic;
  text-align: center;
}
#bigger-text{
  font-weight: bold;
  font-size: 70pt;
  text-shadow: 3px 3px white;
}

.card{
  margin-left: 50px;
  margin-bottom: 20px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
}
.card-header{
  background-color: #3d8cdb;
  color: white;
  padding-bottom: 1px;

}
.flavor{
  padding-bottom: 30px;
}

.flavor-text{
  color: white;
  text-align: center;
  padding-left: 175px;
  padding-right: 175px;
  margin-bottom: 0px;
  text-shadow: 2px 2px black;
}
.flavor-text-header{
  color: white;
  text-align: center;
  padding-left: 175px;
  padding-right: 175px;
  margin-bottom: 0px;
  text-shadow: 2px 2px black;
}
.image{
  float: left;
}
.pet-img{
  height: 155px;
  width: 120px;
  filter: grayscale(100%);
}
.cardText{
  float: right;
  font-size: 11pt;
  padding-top: 0px;
}
.card-body{
  padding-top: 2px;
  padding-bottom: 0px;

}
.card-button{
  background-color: #ffc219;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  font-size: 10pt;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
  margin-bottom: 5px;

}
a{
  color: white;
}
