<div id="body">
  <p id="big-text">Join us in creating a <span id="bigger-text"> MORE HUMANE </span>Society</p>

  <div class="row">

    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <div class="card-header">
          <h5 class="card-title">Adopt</h5>
        </div>
        <div class="row">
          <div class="col-sm-5">
            <div class="image">
              <img class="card-img  pet-img" src="https://images.unsplash.com/photo-1517423568366-8b83523034fd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80">
            </div>
          </div>
          <div class="col-sm-7">
            <div class="card-body">
              <p class ="cardText">OHS has hundreds of animals available for adoption. Find yours!</p>
              <button class="card-button"><a routerLink="adopt">ADOPT NOW</a></button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <div class="card-header">
          <h5 class="card-title">Donate</h5>
        </div>
        <div class="row">
          <div class="col-sm-5">
            <div class="image">
              <img class="card-img pet-img" src="https://images.unsplash.com/photo-1546191559-f4d15569a362?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80">
            </div>
          </div>
          <div class="col-sm-7">
            <div class="card-body">
              <p class ="cardText">The lifesaving work of OHS is possible because of donors like you.</p>
              <button class="card-button"><a routerLink="donate">DONATE NOW</a></button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <div class="card-header">
          <h5 class="card-title">Get Involved</h5>
        </div>
        <div class="row">
          <div class="col-sm-5">
            <div class="image">
              <img class="card-img pet-img" src="https://images.unsplash.com/photo-1515814472071-4d632dbc5d4a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80">
            </div>
          </div>
          <div class="col-sm-7">
            <div class="card-body">
              <p class ="cardText">Become a volunteer, attend an event, or find other ways to support OHS.</p>
              <button class="card-button"><a routerLink="get-involved">LEARN MORE</a></button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-md-8">
      <div class="card" style="width: 45.8rem;">
        <div class="card-header">
          <h5 class="card-title">Training Classes</h5>
        </div>
        <div class="card-body">
          <p class ="cardText">The OHS Training and Behavior Department offers training classes, private consultations, and workshops. Sign up today!</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <div class="card-header">
            <h5 class="card-title">Subscribe to PetDish</h5>
        </div>
        <div class="card-body">
          <p class ="cardText">The monthly e-newsletter from OHS:
          news, events, pets & more.</p>
        </div>
      </div>
    </div>

  </div>

  <div class="row">


    <div class="col-md-8">
      <div class="card" style="width: 18rem;">
          <div class="card-header">

            <h5 class="card-title">Total Adoptions</h5>
          </div>
          <div class="card-body">
          <p class ="cardText">Total adoptions made: With your help, we’ll find homes for 11,000 pets this year.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <div class="card-header">

          <h5 class="card-title">Connect with us</h5>
        </div>
        <div class="card-body">
          <p class ="cardText">our contact info</p>
        </div>
      </div>
    </div>

  </div>

  <div class="flavor">
    <h3 class="flavor-text-header">Welcome to Daniel's Humane Society</h3>
    <p class="flavor-text">Daniel Loves The Oregon Humane Society who are responsible for rescues, heals and adopts more than 11,000 pets each year. They never place a time limit on how long cats, dogs and other pets stay at our shelter. OHS relies on donations to support our adoption, education, and animal rescue programs.</p>

  </div>
</div>
