<div id="body">
  <p id="big-text">Join me in creating a <span id="bigger-text"> MORE HUMANE </span>Society</p>

  <div class="row">

    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Adopt</h5>
          <p class ="cardText">Adopt a pet today</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Donate</h5>
          <p class ="cardText">Adopt a pet today</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Get Involved</h5>
          <p class ="cardText">Adopt a pet today</p>
        </div>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-md-8">
      <div class="card" style="width: 45.8rem;">
        <div class="card-body">
          <h5 class="card-title">News</h5>
          <p class ="cardText">Adopt a pet today</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Subscribe</h5>
          <p class ="cardText">Adopt a pet today</p>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    

  </div>



</div>
<div id="footer">
  <p>this is where the footer will go</p>
</div>
